<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>QingZhuo Blog</title>
  <link href="{{root}}" rel="alternate"></link>
  <link href="{{root}}/all.atom.xml" rel="self"></link>
  <id>{{root}}</id>
  <updated>{{updated}}</updated>
    {{content}}
</feed>
