{% extends "layout.templ" %}

{% block content %}
<nav>
  <h1>My blog posts</h1>
  <dl class="posts-list">
    {{content}}
  </dl>
</nav>

        <div class="col-md">
          <h1>Tags:</h1>
          {{tags}}
          <h1>BlogRoll:</h1>
          <a href="http://zhangwenli.com/blog/"><i class="fa fa-link" aria-hidden="true"></i> 羡辙杂俎 </a>
        </div>
{% endblock %}
