{% extends "layout.templ" %}
{% block meta_data %}
<title>QingZhuo Blog</title>
<meta name="description" content="{{Description}}">
<meta property="og:title" content="QingZhuo Blog">
{% endblock %}

{% block content %}
<nav>
  <h1>My blog posts</h1>
  <dl class="posts-list">
    {{content}}
  </dl>
</nav>

        <div class="col-md">
          <h2>Tags:</h2>
          {{tags}}
          <h2>BlogRoll:</h2>
          <a href="http://zhangwenli.com/blog/"><i class="fa fa-link" aria-hidden="true"></i> 羡辙杂俎 </a>
        </div>
{% endblock %}
