<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="muxueqz">
  <link rel="shortcut icon" href="https://muxueqz.coding.me/favicon.ico">

  <title>QingZhuo Blog - {% block title %}Blog{% endblock %}</title>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" href="https://muxueqz.coding.me/feed.xml" />

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/style.css" rel="stylesheet">

  <!-- Syntax highlighting css -->
  <link href="static/prism.css" rel="stylesheet" />

  {% block meta_data %}{% endblock %}
</head>
<body>
  <div class="container">

    {% block content %}{% endblock %}

    <footer>
      <div class="row">
        <div class="col-md-1 d-none d-md-block img-me-container">
          <img class="img-me img-fluid" src="/static/me.png">
        </div>
        <div class="col-md info">
          <span class="name">QingZhuo Blog</span><br>
          <a href="http://muxueqz.coding.me"><i class="fa fa-link" aria-hidden="true"></i> muxueqz </a>
          · <a href="https://github.com/muxueqz" rel="noopener"><i class="fab fa-github" aria-hidden="true"></i> muxueqz</a>
          · <a href="https://twitter.com/muxueqz" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i> muxueqz</a>
          <br>
          <span class="location"><i class="fas fa-map-marker"></i> 无何有之乡，广漠之野</span>
        </div>
        <div class="col-md">
          <p class="disclaimer">
            &copy; 2019<br>
            All text is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> license<br>
            All code is available under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> license
          </p>
      </div>

    </footer>
  </div>

  <!-- webfonts & icons-->
  <link href="/static/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">

  <!-- Google Analytics (that's right, I'm tracking you) -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
        var pageTracker = _gat._getTracker("UA-33825897-1");
pageTracker._trackPageview();
} catch(err) {}</script>

  <script src="/static/prism.js"></script>
</body>
</html>
