name: CI Pipeline

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Nim and dependencies
      uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: '2.0.0' # default is 'stable'

    - name: Install Nimble dependencies
      run: |
        nimble refresh
        nimble install markdown nimja

    - name: Build the project
      run: |
        mkdir -pv dist/
        nim c -d:release -o:dist/kun build.nim

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: kun-build
        path: kun/dist/kun

    - name: Publish release on GitHub
      uses: softprops/action-gh-release@v1
      with:
        files: kun/dist/kun
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
